.carousel-button-prev {
    left: 10px;
}

.carousel-button-next {
    right: 10px;
}

.carousel-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    position: relative;
  }
  
  .carousel-wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    
  }
  
  .carousel-content-row {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
    width: 100%;
  }

  .carousel-content-column {
    display: flex;
    flex-direction: column;
  }
  
  .carousel-item {
    flex: 0 100%;
    padding: 16px;
  }
  
  @media (max-width: 768px) {
    .carousel-content-column {
      flex-direction: column;
      align-items: center;

    }
    .carousel-content-row {
        flex-direction: column;
        align-items: center;


    }
    .carousel-button-prev {
        display: none;
    }
    .carousel-button-next {
        display: none;
    }
  }